# .clangd в корне проекта
CompileFlags:
  Add:
    - -IC:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.42.34433/include
    - -ID:/LLVM/lib/clang/21/include
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/ucrt
    - -stdlib=libc++
    - -fmodules
    - --target=x86_64-pc-windows-msvc
---
If:
  PathMatch: .*\.cppm
---
CompileFlags:
  Add:
    - -x
    - c++-module
    - -fmodules
    - -fimplicit-modules
    - -fimplicit-module-maps

---
If:
  PathMatch: .*\.cpp
---
CompileFlags:
  Remove:
    - -x
    - c++-module
    - -fmodules
    - -fimplicit-modules
    - -fimplicit-module-maps
