# .clangd в корне проекта
CompileFlags:
  # Remove: [-std=c++23]
  Add:
    # - /std:c++latest
    - -fmodules
    - -fprebuilt-module-path=D:/hobby/gg_engine/_build/modules/core/CMakeFiles/gg_engine.dir/

---
If:
  PathMatch: .*\.cppm
---
CompileFlags:
  Add:
    - -x
    - c++-module
    - -fimplicit-modules
    - -fimplicit-module-maps

---
CompileFlags:
  Add:
    - -IC:/Program Files/Microsoft Visual Studio/2022/Community/VC/Tools/MSVC/14.42.34433/include
    - -ID:/LLVM/lib/clang/21/include
    - -IC:/Program Files (x86)/Windows Kits/10/Include/10.0.22621.0/ucrt
    - --target=x86_64-pc-windows-msvc